:root {
    --bg-main: #0b0c10;
    --bg-card: #15171c;
    --accent: #f7931a;
    --text-primary: #ffffff;
    --text-secondary: #94969b;
    --positive: #00c853;
    --negative: #ff3d00;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--bg-main);
    color: var(--text-primary);
    font-family: 'Inter', sans-serif;
}

main {
    display: grid;
    padding: 0;
    margin: 30px auto;
    height: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    background-color: var(--bg-main);
    border-bottom: 1px solid #2d2f36;
}

.logo {
    display: flex;
    align-items: center;
    gap: 12px;
}

.logo i {
    color: var(--accent);
    font-size: 2rem;
}

.search-bar {
    background: var(--bg-card);
    border-radius: 12px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    width: 300px;
}

.search-bar input {
    background: transparent;
    border: none;
    color: white;
    margin-left: 10px;
    outline: none;
    width: 100%;
}

#searchResults,
.compare-searchResults {
    display: none;
    position: absolute;
    background: #71666682;
    list-style: none;
    border-radius: 5px;
    padding: 7px;
    gap: 9px;
    flex-direction: column;
}

li.search-result-item,
.compare-searchResults li {
    display: flex;
    align-items: center;
    gap: 7px;
}

.alerts {
    display: flex;
    align-items: center;
    gap: 8px;
}

.alerts button {
    background: var(--bg-card);
    border: none;
    border-radius: 50%;
    padding: 10px;
    color: var(--text-secondary);
    cursor: pointer;
}

#qty-alerts {
    color: var(--positive);
    font-size: 0.8rem;
}

.date-selector span {
    color: var(--text-secondary);
    font-size: 0.9rem;
}

select {
    background: var(--bg-card);
    border: 1px solid #2d2f36;
    color: var(--text-primary);
    padding: 8px 12px;
    border-radius: 8px;
    appearance: none;
}

.container {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    background-color: var(--bg-card);
    padding: 10px;
    border-right: 1px solid #2d2f36;
    transition: width 0.3s ease;
    position: relative;
    z-index: 3;
}

.sidebar.collapsed {
    width: 72px;
}

.sidebar.collapsed .menu-text {
    display: none;
}

.sidebar ul {
    list-style: none;
}

#toggleAside {
    font-size: 2.3rem;
    margin-left: auto;
    float: right;
}

.sidebar button {
    background: transparent;
    border: none;
    color: var(--text-secondary);
    padding: 15px;
    margin-bottom: 10px;
    width: 100%;
    text-align: left;
    font-size: 1.3rem;
    cursor: pointer;
    transition: 0.3s;
    display: flex;
    align-items: center;
    gap: 10px;
}

.sidebar button:hover,
li.search-result-item:hover,
.compare-searchResults li:hover {
    color: var(--accent);
    background: rgba(247, 147, 26, 0.1);
    border-radius: 8px;
    cursor: pointer;
}

section#home-view {
    grid-template-columns: 450px auto auto;
    height: 100%;
}

section,
.live-market-main {
    display: flex;
    flex: 1;
    padding: 33px;
    flex-direction: column;
    justify-content: space-between;
}

.live-market-main {
    padding: 0;
}

.mda-details {
    border: 1px solid #ffffff1a;
    border-top: none;
}

.card-header {
    display: flex;
    justify-content: space-between;
}

.price-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price-area span {
    font-size: 1.5rem;
}

.select-mda {
    height: fit-content;
    font-size: xx-small;
}

.chart-placeholderw.card {
    margin: 8px 0 11px 0;
    height: 240px;
    padding: 10px;
}

#coinChart {
    height: 100%;
}

.card {
    background: var(--bg-card);
    padding: 20px;
    border-radius: 20px;
    border: 1px solid #2d2f36;
    max-height: 370px;
}

#coin-name,
#overview-title {
    font-size: 1.7rem;
    align-items: center;
    margin-bottom: 10px;
}

h3 {
    color: var(--text-secondary);
    font-size: 0.9rem;
    margin-bottom: 15px;
}

.left-column-wrapper,
.center-column-wrapper,
.section-liveMarket {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.market-overview-card,
.main-crypto-card {
    flex-grow: 1;
}

.container-news li {
    list-style: none;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.02);
    border-left: 3px solid #f7931a;
    transition: 0.3s ease;
    padding: 7px;
}

.container-news li:hover {
    transform: translateX(4px);
    background: rgba(255, 255, 255, 0.05);
}

section#news-view {
    padding: 33px;
    gap: 40px;
}

#news-view h3 {
    font-weight: 700;
    font-size: 17px;
    margin-bottom: 10px;
}

.news-link {
    text-decoration: none;
    color: inherit;
}

.news-link:hover .news-title {
    text-decoration: underline;
}

.container-news span {
    font-size: 0.85rem;
    color: var(--text-secondary);
}

.highlights-list,
.list-live {
    list-style: none;
}

.highlights-list li,
.livers-market li {
    padding: 12px 0;
    border-bottom: 1px solid #2d2f36;
    font-size: 0.9rem;
    color: var(--text-primary);
    transition: 0.3s ease;
}

.highlight-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.highlight-item-content {
    gap: 15px;
    display: flex;
    align-items: center;
}

.highlight-info-content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.highlights-list,
#news-list,
.livers-market,
.container-news {
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.coin-select:hover {
    transform: translateX(4px);
    background: linear-gradient(91deg, transparent, #37271085);
    color: var(--accent);
    cursor: pointer;
    border-radius: 10px;
}

@supports (scrollbar-width: thin) {

    .highlights-list,
    #news-list,
    .livers-market,
    .container-news {
        scrollbar-width: none;
        scrollbar-color: transparent transparent;
    }

    .highlights-list:hover,
    #news-list:hover,
    .livers-market:hover,
    .container-news:hover {
        scrollbar-width: thin;
        scrollbar-color: #4b5563 transparent;
    }
}

.update-info {
    font-size: 0.75rem;
    color: var(--text-secondary);
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.main-price {
    font-size: 2.2rem;
    font-weight: bold;
    margin-top: 10px;
}

.change-positive {
    color: var(--positive);
    background: rgba(0, 200, 83, 0);
    border-radius: 8px;
    height: fit-content;
    font-size: 0.8rem;
    font-weight: bold;
}

.change-negative {
    color: var(--negative);
    border-radius: 6px;
    font-size: 0.8rem;
    font-weight: bold;
}

.overview-details {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8rem;
    color: var(--text-secondary);
}

.overview-details span:first-child {
    font-size: 1rem;
}

.price-details {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    border-bottom: 1px solid #2d2f36;
}

.detail-item {
    display: flex;
    flex-direction: column;
    background: var(--bg-card);
    color: var(--text-secondary);
    border-radius: 20px;
    border: 1px solid #2d2f36;
    gap: 5px;
    font-size: 0.8rem;
    text-align: center;
    padding: 7px;
    margin-bottom: 20px;
}

.detailItem-secondary {
    color: var(--text-primary);
    font-weight: bold;
}

.market-iframe {
    width: 100%;
    height: 255px;
    border: none;
    border-radius: 20px;
    overflow: hidden;
}

.hidden {
    display: none;
}

.active-view {
    display: grid;
    background: repeating-linear-gradient(151deg, #1a1c2f7a, #0d0d1869 100px);
    border-radius: 20px;
    padding: 0;
    width: 100%;
    justify-content: center;
}

.sidebar button.active-btn {
    color: var(--accent);
}

.compare-page {
    padding: 20px;
    text-align: center;
}

.compare-controls {
    display: flex;
    gap: 10px;
    margin: 20px 0;
    justify-content: center;
}

.compare-controls input {
    padding: 10px;
    background: scroll;
    color: #cad3db;
    border-radius: 8px;
    border: 1px solid #cccccc7d;
    flex: 1;
}

.compare-controls button {
    color: #ffffff;
    padding: 10px 16px;
    border-radius: 8px;
    background: var(--accent);
    font-weight: bolder;
    border: none;
    cursor: pointer;
}

button#compareBtn:hover {
    background: #bd8139;
    transition: 0.4s ease-out;
}

.compare-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    margin-bottom: 20px;
}

.coin-card {
    background: #111;
    border-radius: 12px;
    padding: 16px;
    min-height: 300px;
    min-width: 400px;
    text-align: center;
}

.coin-card h3 {
    margin-bottom: 10px;
}

.coin-card p {
    margin: 4px 0;
}

.chartCompare-grid {
    background: #111;
    padding: 16px;
    border-radius: 12px;
}