:root {
    --bg-main: #0b0c10;
    --bg-card: #15171c;
    --accent: #f7931a;
    --text-primary: #ffffff;
    --text-secondary: #94969b;
    --positive: #00c853;
    --negative: #ff3d00;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--bg-main);
    color: var(--text-primary);
    font-family: 'Inter', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    background-color: var(--bg-main);
    border-bottom: 1px solid #2d2f36;
}

.logo {
    display: flex;
    align-items: center;
    gap: 12px;
}

.logo i {
    color: var(--accent);
    font-size: 2rem;
}

.search-bar {
    background: var(--bg-card);
    border-radius: 12px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    width: 300px;
}

.search-bar input {
    background: transparent;
    border: none;
    color: white;
    margin-left: 10px;
    outline: none;
    width: 100%;
}

.alerts {
    display: flex;
    align-items: center;
    gap: 8px;
}

.alerts button {
    background: var(--bg-card);
    border: none;
    border-radius: 50%;
    padding: 10px;
    color: var(--text-secondary);
    cursor: pointer;
}

#qty-alerts {
    color: var(--positive);
    font-size: 0.8rem;
}

.date-selector span {
    color: var(--text-secondary);
    font-size: 0.9rem;
}

select {
    background: var(--bg-card);
    border: 1px solid #2d2f36;
    color: var(--text-primary);
    padding: 8px 12px;
    border-radius: 8px;
    appearance: none;
}

.container {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    background-color: var(--bg-card);
    padding: 10px;
    border-right: 1px solid #2d2f36;
    transition: width 0.3s ease;
}

.sidebar.collapsed {
    width: 72px;
}

.sidebar.collapsed .menu-text {
    display: none;
}

.sidebar ul {
    list-style: none;
}

#toggleAside {
    font-size: 2.3rem;
    margin-left: auto;
    float: right;
}

.sidebar button {
    background: transparent;
    border: none;
    color: var(--text-secondary);
    padding: 15px;
    margin-bottom: 10px;
    width: 100%;
    text-align: left;
    font-size: 1.3rem;
    cursor: pointer;
    transition: 0.3s;
    display: flex;
    align-items: center;
    gap: 10px;
}

.icon-side button i {
    color: var(--text-secondary);
}

.sidebar button:hover {
    color: var(--accent);
    background: rgba(247, 147, 26, 0.1);
    border-radius: 8px;
}

main {
    display: flex;
    padding: 0;
    width: 100%;
}


section {
    padding: 33px;
}

.mda-details {
    border: 1px solid #ffffff1a;
    border-top: none;
    flex: 1;
}

.top-livers {
    width: 30%;
}

.card-header {
    display: flex;
    justify-content: space-between;
}

.price-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.select-mda {
    height: fit-content;
    font-size: xx-small;
}

.card {
    background: var(--bg-card);
    padding: 20px;
    border-radius: 20px;
    border: 1px solid #2d2f36;
    margin-bottom: 20px;
}

#coin-name, #overview-title {
    display: flex;
    font-size: 1.7rem;
    align-items: center;
    margin-bottom: 10px;
}

h3 {
    color: var(--text-secondary);
    font-size: 0.9rem;
    margin-bottom: 15px;
}

.left-column-wrapper,
.center-column-wrapper,
.section-liveMarket {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.market-overview-card,
.main-crypto-card {
    flex-grow: 1;
}

#news-list li {
    list-style: none;
    margin-bottom: 10px;
    cursor: pointer;
}

.news-link {
    text-decoration: none;
    color: inherit;
}

.news-link:hover .news-title {
    text-decoration: underline;
}

#news-list span {
    font-size: 0.85rem;
    color: var(--text-secondary);
}

.highlights-list,
.list-live {
    list-style: none;
}

.highlights-list li,
.livers-market li {
    padding: 12px 0;
    border-bottom: 1px solid #2d2f36;
    font-size: 0.9rem;
    color: var(--text-primary);
}

.highlight-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.highlight-item-content {
    gap: 15px;
    display: flex;
    align-items: center;
}

.highlight-info-content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.highlights-list {
    max-height: 300px;
    overflow-y: auto;
    scroll-behavior: smooth;
}

@supports (scrollbar-width: thin) {
    .highlights-list {
        scrollbar-width: none;
        /* Esconde no Firefox */
        scrollbar-color: transparent transparent;
    }

    .highlights-list:hover {
        scrollbar-width: thin;
        /* Mostra no Firefox */
        scrollbar-color: #4b5563 transparent;
    }
}

.update-info {
    font-size: 0.75rem;
    color: var(--text-secondary);
    margin-bottom: 15px;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.main-price {
    font-size: 2.2rem;
    font-weight: bold;
    margin: 10px 0;
}

.change-positive {
    color: var(--positive);
    background: rgba(0, 200, 83, 0);
    padding: 4px 8px;
    border-radius: 8px;
    height: fit-content;
    font-size: 0.8rem;
    font-weight: bold;
}

.change-negative {
    color: var(--negative);
    /* background: rgba(255, 61, 0, 0.1); */
    padding: 4px 8px;
    border-radius: 6px;
    font-size: 0.8rem;
    font-weight: bold;
}

.overview-details {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8rem;
    color: var(--text-secondary);
}

.overview-details span:first-child {
    font-size: 1rem;
}

.price-details {
    display: flex;
    justify-content: space-evenly;
    padding-top: 15px;
    gap: 20px;
    border-top: 1px solid #2d2f36;
}

.detail-item {
    display: flex;
    flex-direction: column;
    background: var(--bg-card);
    color: var(--text-secondary);
    border-radius: 20px;
    border: 1px solid #2d2f36;
    gap: 5px;
    font-size: 0.8rem;
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
}

.detailItem-secondary {
    color: var(--text-primary);
    font-weight: bold;
}

.market-iframe {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 20px;
    overflow: hidden;
}